body {
    background: linear-gradient(white, #37afec);
    background-repeat: repeat-x;
    background-color: #37afec;
}

#landPageHeader {
    border-bottom: none;
}

#logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#landingPageBtn {
    margin-bottom: 1em;
}

p {
    font-size: 130%;
    text-align: center;
}

a {
  text-decoration: none;
}
