body {
    overflow-x: hidden;
}
li a {
    text-decoration: none;
    padding: 0.5em;
    color: #414141;
    text-align: center;
}
.navbar-nav {
    font-family: "Verdana";
    font-size: 120%;
    background-color: lightskyblue;
    filter: drop-shadow(0.2em 0.2em 0.05em grey);
}
.nav-link:hover {
    color: black;
    background-color: rgba(95, 193, 250, 0.75);
}
button.navbar-toggler {
    background-color: lightskyblue;
}

#logout {
    border-right: none;
}
.header {
    text-align: center;
    padding: 0.1%;
    background-color: cornflowerblue;
    font-family: "Verdana";
    color: #414141;
    text-shadow: 0.12em 0.12em 0.05em rgba(128, 128, 128, 0.52);
}

p {
    font-family: "Verdana";
}

button {
    font-family: "Verdana";
    background-color: skyblue;
    border: none;
    filter: drop-shadow(0.15em 0.15em 0.05em grey);
}

@media only screen and (max-width: 464px) {
    .navbar-nav {
        font-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-nav {
        font-size: 90%;
    }
}

@media only screen and (max-width: 342px) {
    .navbar-nav {
        font-size: 80%;
    }
}

th {
    background-color: cornflowerblue;
}

td {
    background-color: lightskyblue;
}
.fa-1x {
    font-size: 1.5rem;
}



