body {
    overflow-x: hidden;
}
li {
    border-right: 0.07em solid white;
}
li a {
    text-decoration: none;
    padding: 0.5em;
    color: #414141;
    text-align: center;
}
.navbar-nav {
    list-style-type: none;
    font-family: "Verdana";
    font-size: 120%;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
    overflow: hidden;
    filter: drop-shadow(0.2em 0.2em 0.05em grey);
}
.nav-link:hover {
    background-color: rgba(0, 191, 255, 0.33);
}
button.navbar-toggler {
    background-color: lightskyblue;
}

#logout {
    border-right: none;
}
.header {
    text-align: center;
    padding: 0.1%;
    background-color: cornflowerblue;
    font-family: "Verdana";
    border-bottom: 0.15em solid white;
    color: #414141;
}

button {
    font-family: Verdana;
    background-color: skyblue;
    border: none;
    filter: drop-shadow(0.15em 0.15em 0.05em grey);
}

@media only screen and (max-width: 464px) {
    .navbar-nav {
        font-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .navbar-nav {
        font-size: 90%;
    }
}

@media only screen and (max-width: 342px) {
    .navbar-nav {
        font-size: 80%;
    }
}