#piechart {
    transform: translateY(5em) scale(1.7, 1.7);
    overflow-x: hidden;
}
#today {
    transform: translateX(0.5%);
    text-align: center;
    font-family: "Verdana";
    color: #414141;
}
